.heading-21921 {
  position: relative;
  padding: 0;
  line-height: 1;
  font-weight: 900 !important;
  text-align: left;
}

.site-section {
  padding: 3rem 0;
}

table {
  width: 100%;
}

.mat-header-cell, .mat-cell {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

.custom-form-field {
  width: 100%;
  position: relative;
}

.filter-label {
  position: marker;
  top: 250px;
  left: 0;
  font-size: 12px;
  z-index: 1;
}

.custom-form-field .mat-input-element {
  padding-top: 20px;
}


