<app-header></app-header>
<div *ngIf="!isLoading; else loading" class="content-container">
  <div class="task-header">
    <h2>Task Details</h2>
    <p><strong>Title:</strong> {{ task.title }}</p>
    <p><strong>Description:</strong> {{ task.description }}</p>
  </div>

  <h3>Comments</h3>
  <div class="table-wrapper">
    <table class="comments-table">
      <thead>
      <tr>
        <th>Author</th>
        <th>Comment</th>
        <th>File</th>
        <th>Antivirus Scanning</th>
        <!--        <th>AI Analysis</th>-->
        <!--        <th>Actions</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let comment of comments">
        <td>{{ task.creatorEmail }}</td>
        <td>{{ comment.comment }}</td>
        <td>
          <ng-container *ngIf="comment.fileDto">
            <a *ngIf="comment.fileDto.scanningStatus === 'CLEAN'" [href]="comment.fileDto.url" target="_blank">
              {{ comment.fileDto.name }}
            </a>
            <span *ngIf="comment.fileDto.scanningStatus === 'INFECTED'" class="infected-file-text">
              Infected File
            </span>
            <span *ngIf="comment.fileDto.scanningStatus === 'SCAN_FAILED'" class="failed-scan-text">
              Scanning Failed
            </span>
            <span *ngIf="comment.fileDto.scanningStatus === 'AWAITING_SCANNING'" class="failed-scan-text">
              Scanning scheduled
            </span>
          </ng-container>
        </td>
        <td>
          <div class="antivirus-status">
            <mat-icon *ngIf="comment.fileDto.scanningStatus === 'AWAITING_SCANNING'" class="status-icon clock">
              schedule
            </mat-icon>
            <mat-icon *ngIf="comment.fileDto.scanningStatus === 'CLEAN'" class="status-icon clean">check_circle
            </mat-icon>
            <mat-icon *ngIf="comment.fileDto.scanningStatus === 'SCAN_FAILED'" class="status-icon failed">error
            </mat-icon>
            <mat-icon *ngIf="comment.fileDto.scanningStatus === 'INFECTED'" class="status-icon infected">
              report_problem
            </mat-icon>
          </div>
        </td>
        <!--        <td>-->
        <!--          <div class="progress-dots">-->
        <!--            <span *ngIf="comment.fileDto.aiAnalysisStatus === 'in_progress'">...</span>-->
        <!--            <span *ngIf="comment.fileDto.aiAnalysisStatus === 'completed'">✅</span>-->
        <!--          </div>-->
        <!--        </td>-->
        <!--        <td>-->
        <!--          <button-->
        <!--            mat-button-->
        <!--            color="primary"-->
        <!--            *ngIf="!comment.fileDto.analyzedFileUrl"-->
        <!--            (click)="analyzeFile(comment.fileDto.id)"-->
        <!--            [disabled]="isAnalyzingFile[comment.fileDto.id]"-->
        <!--          >-->
        <!--            <ng-container *ngIf="!isAnalyzingFile[comment.fileDto.id]">Analyze</ng-container>-->
        <!--            <mat-spinner *ngIf="isAnalyzingFile[comment.fileDto.id]" diameter="20"></mat-spinner>-->
        <!--          </button>-->
        <!--          <a *ngIf="comment.fileDto.analyzedFileUrl" [href]="comment.fileDto.analyzedFileUrl" target="_blank">-->
        <!--            Download Analyzed File-->
        <!--          </a>-->
        <!--        </td>-->
      </tr>
      </tbody>
    </table>
  </div>

  <form [formGroup]="commentForm" class="comment-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Add a Comment</mat-label>
      <textarea matInput formControlName="comment" rows="3"></textarea>
    </mat-form-field>

    <input type="file" (change)="onFileSelect($event)"/>
    <button
      mat-raised-button
      color="primary"
      (click)="submitComment()"
      [disabled]="isSubmittingComment"
    >
      <ng-container *ngIf="!isSubmittingComment">Submit</ng-container>
      <mat-spinner *ngIf="isSubmittingComment" diameter="20"></mat-spinner>
    </button>
  </form>
</div>

<ng-template #loading>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
