<app-header></app-header>
<div class="main-content">
  <div class="container-fluid content-top-gap">
    <div class="welcome-msg pt-3 pb-4">
      <h1>Hi <span class="text-dark">{{ user.name }}</span>, Welcome to your Teams</h1>
    </div>

    <div class="statistics">
      <div class="row">
        <div class="col-sm-6 statistics-grid">
          <div class="card card_border border-primary-top p-4">
            <i style="font-size: 3em; color: #343a40;" class="fa fa-users"></i>
            <h3 class="text-dark number">Your Teams</h3>
            <p class="stat-text">View and manage your teams</p>
          </div>
        </div>

        <!-- Add New Team Card -->
        <div class="col-sm-6 statistics-grid">
          <div class="card card_border border-primary-top p-4">
            <i style="font-size: 3em; color: #343a40;" class="fa fa-plus-circle"></i>
            <h3 class="text-dark number">Add New Team</h3>
            <p class="stat-text">Create or join a new team</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
