<app-header></app-header>
<div class="main-content">
  <div class="container-fluid content-top-gap">

    <div class="statistics">
      <div class="row">
        <div class="col-sm-6 statistics-grid">
          <div class="card card_border border-primary-top p-4" routerLink="/show-teams">
            <i style="font-size: 3em; color: #343a40;" class="fa fa-users"></i>
            <h3 class="text-dark number">Your Teams</h3>
            <p class="stat-text">View and manage your teams</p>
          </div>
        </div>

        <!-- Add New Team Card -->
        <div class="col-sm-6 statistics-grid">
          <div class="card card_border border-primary-top p-4" routerLink="/add-team">
            <i style="font-size: 3em; color: #343a40;" class="fa fa-plus-circle"></i>
            <h3 class="text-dark number">Add New Team</h3>
            <p class="stat-text">Create a new team</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
